week1-n8n/daily-briefing.json
{
  "name": "Daily Weather Briefing",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 7 * * *" } ] } },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Every day 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "q", "value": "Gdansk,PL" },
          { "name": "appid", "value": "={{ $env.OPENWEATHER_API_KEY }}" },
          { "name": "units", "value": "metric" }
        ] },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch Weather (OpenWeather)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst temp = item.main?.temp ?? null;\nconst feelsLike = item.main?.feels_like ?? null;\nconst humidity = item.main?.humidity ?? null;\nconst wind = item.wind?.speed ?? 0;\nconst gust = item.wind?.gust ?? 0;\nconst condId = item.weather?.[0]?.id ?? null;\nconst condition = item.weather?.[0]?.main ?? 'Unknown';\nconst desc = item.weather?.[0]?.description ?? '';\nconst city = item.name ?? 'Gdansk';\nconst reasons = [];\nif (temp !== null && temp <= -5) reasons.push(`Freezing ${temp}\\u00B0C`);\nif (temp !== null && temp >= 30) reasons.push(`Heat ${temp}\\u00B0C`);\nif (wind >= 15) reasons.push(`High wind ${wind} m/s`);\nif (gust >= 20) reasons.push(`Strong gusts ${gust} m/s`);\nif (condId !== null && condId >= 200 && condId < 300) reasons.push('Thunderstorm');\nif (condId !== null && condId >= 502 && condId < 600) reasons.push('Heavy rain');\nif (condId !== null && condId >= 600 && condId < 700) reasons.push('Snow');\nconst isCritical = reasons.length > 0;\nreturn [{ json: { timestamp: new Date().toISOString(), city, temp, feelsLike, humidity, wind, gust, condition, description: desc, isCritical, reason: isCritical ? reasons.join('; ') : 'Nominal' } }];"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Transform + Flag Critical",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": { "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [] },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "cond-0001-4000-8000-000000000001", "leftValue": "={{ $json.isCritical }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "fromEmail": "briefing@example.com",
        "toEmail": "you@example.com",
        "subject": "=⚠️ Weather Alert — {{ $json.city }}: {{ $json.reason }}",
        "emailFormat": "text",
        "text": "=Daily briefing for {{ $json.city }} at {{ $json.timestamp }}\n\nCRITICAL: {{ $json.reason }}\n\nTemp: {{ $json.temp }}°C (feels {{ $json.feelsLike }}°C)\nWind: {{ $json.wind }} m/s (gust {{ $json.gust }} m/s)\nCondition: {{ $json.condition }} — {{ $json.description }}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Every day 07:00": { "main": [ [ { "node": "Fetch Weather (OpenWeather)", "type": "main", "index": 0 } ] ] },
    "Fetch Weather (OpenWeather)": { "main": [ [ { "node": "Transform + Flag Critical", "type": "main", "index": 0 } ] ] },
    "Transform + Flag Critical": { "main": [ [ { "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Is Critical?", "type": "main", "index": 0 } ] ] },
    "Is Critical?": { "main": [ [ { "node": "Send Email Alert", "type": "main", "index": 0 } ], [] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
